.ArtificialHorizon {
  height: 100%;
  display: flex;
  flex-direction: column;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.Sky {
  background: #6575b2;
  flex-grow: 1;
}

.Horizon {
  height: 2px;
  background: white;
}

.Ground {
  flex-grow: 1;
  background: #956532;
}
