.Altimeter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 125px;
}

.AltimeterOverlay {
  background: black;
  opacity: 0.1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  right: 5px;
}

.AltimeterTape {
  background: #67b55d;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 120px;
  left: 0px;
}
